ol {
    list-style-type: upper-roman;
    background: green;
    padding: 20px;
}
ul {
    list-style-type: square;
    background: green;
    padding: 20px; 
}
ol li {
    background: greenyellow;
    padding: 20px;
    margin-left: 20px;
}
ul li {
    background: greenyellow;
    padding: 20px;
    margin-left: 20px;
}