/* setting font sizing for HTML*/
html {
    font-size: 70%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
/*Defining the appearance of the calculator itself*/
.calculator {
    border: 1.2px solid darkslategray;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}
/*Defining appearance of the calculator background screen*/
.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 7px 7px 0px 0px;
}
/*Defining button*/
button {
    height: 70px;
    border-radius: 3px;
    border: 1px solid darkslategray;
    background-color: transparent;
    font-size: 3.2rem;
    color: black;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0,0,0,.06));
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 000
    rgba(255, 255, 255, .05), inet 0 -1px 0 0 rgba(255, 255, 255, .05), 0 1px 0 0 rgba(255, 255, 255, .05);
}
/*Defining hover characteristics*/
button:hover {
    background-color: #e1e1e1;
}
/*Defining operator*/
.operator {
    color: black;
    background-image: linear-gradient(to bottom, transparent, transparent 50%,
    rgba(0,0,0,.5));
    background-color: lightgray;
}

.all-clear {
    background-color: red;
    border-color: darkslategray;
    color: #fff;
}
/*Defining all clear characteristics*/
.all-clear:hover {
    background-color: darkred;  
}
/*characteriszing equal sign*/
.equal-sign {
    background-color: navy;
    border-color: darkslategray;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: white;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

