
body {
    background-color: lightblue;
    
}

h1, h2 {
    text-align: center;
    color: darkblue;
}

p  {
    font-size: 40px;
    color: darkblue
}

img {
    border: 5px solid #555;
    border-color: red;
    max-width: 600px;
    height: 300px;
    border-style: dashed;
    border-width: 2px;
  }

  h3 {
      text-align: center; 
  }